body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(118, 118, 223);
    margin-top: 200px;
}
input {
    border-radius: 10px;
    outline: none;
    border: none;
    background: silver; 
    padding: 10px;
}
button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
